div {
    border: 2px solid rgb(0, 0, 0);
    width:600px;
    height: 100px;
    display: flex;
    align-items: center;
}
p{
    width: 70%;
}
span{
    font-weight: 700;
    color: rgb(48, 76, 104);
}
.parole{
    display: flex;
    flex-direction: column;
}
.parole span:nth-child(1) {
    animation-delay: 0s;
    animation: scorrimento 10s ease-in 0s infinite;
    opacity: 0%;
}

.parole span:nth-child(2) {
    opacity: 0%;
    animation: scorrimento 10s ease-in 3s infinite;

}

.parole span:nth-child(3) {
    opacity: 0%;
    animation: scorrimento 10s ease-in 6s infinite;
}

@keyframes scorrimento {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    16.5%{
        transform: translateY(0%);
        opacity: 100%;
    }
    33%{ 
        transform: translateY(100%);
        opacity:0%;
    }
    100% {
       
        opacity: 0%;
    }
}
